.status-1, .status-2, .status-3{
    color:white;
}

.status-1{
    background:#5cb85c
}

.status-2{
    background:#f0ad4e
}

.status-3{
    background:#d9534f
}
thead{
    background:#025b6d;
    color:white;
}
th{
    cursor:pointer;
}
