header{
    position:sticky;
    top: 0;
    z-index:5;
    width:100%;
    display:flex;
    align-items: center;
    color:white;
    background:#01aec5;

    justify-content: space-between;

    h1{
        margin-left: 10px;
    }

    span{
        button{
            margin:5px;
        }
    }

    @media screen and (max-width:680px){
        flex-direction:column;
        h1{
            margin-left:auto;
            margin-right:auto;
            text-align:center;
        }
        a{
            margin-left:auto;
            margin-right:auto;
        }
    }
}